/* Parte de navegação do menu */

header {
    width: 100%;
    height: 100px;
    display: inline-block;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2)
  }
  
  div.sidebar-header {
    background-color: orange;
    text-align: center;
    font-size: 50;
    color: white;
    height: 88px;
  }
  /* Links do menu lateral */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Mudar cor ao colocar mouse em cima */
  .sidebar a:hover:not(.active) {
    background-color: rgb(243, 148, 7);
    color: white;
  }
  
  /* Conteudo da pagina */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  p.header {
      font-size: 20px;
  }

  div.align {
    justify-content: left;
    margin-right: 0px;
    background-color: rgb(253,241,235);
  }

   div.resume {
        border: 1px solid rgb(236,236,236);      ;
        margin-top: 20px;
    }

    h2.resumeTitle {
        border-bottom: 1px solid rgb(236,236,236);        ;
        background-color: rgb(253,241,235);
        margin-top: 0cm;
    }  

    #more {
        display: none;
        align-content: center;
    }

    footer{
      border-top: 1px solid rgb(236,236,236);
      align-content: flex-end;
      margin-top: 20px;
    }

    div.footerText {
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
    }

    h2.title {
        color: orange;
    }

    div.details {
        display: inline-block;
        height: 438px;
        width: 250px;
        vertical-align: top;
        border: 1px solid rgb(236,236,236);
        overflow:auto; 
    }

    h2.detailsTitle {
        border-bottom:1px solid rgb(236,236,236);
        background-color: rgb(253,241,235);
        margin-top: 0cm;
    }

    div.discussao {
      border: 1px solid rgb(236,236,236);
    }

    h2.discussaoTitle {
      border-bottom: 1px solid rgb(236,236,236);
      margin-top: 0cm;
      background-color: rgb(253,241,235);;
    }

    h2.discussaoTitle2 {
      color: orange;
      text-align: center;
    }

    p.discussaoText {
      text-align: center;
    }

    img.icons {
      text-align: center;
      align-content: center;
    }

    div.buttonCollapse {
      text-align: center;
    }

    p.commentaryTitle {
      color: orange;
    }

    p.commentaryContent {
      color: orange;
    }

    textarea.commentaryArea {
      width: 1000px;
      height: 40px;
    }

    textarea.commentaryArea2 {
      width: 1000px;
      height: 250px;
    }

    img.icons {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    a.menuTitle {
      font-size: 25px;
      color: white;
    }

    div.comment1 {
      text-align: left;
      border: 1px solid rgb(236,236,236);
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    }

    i.fa {
      color: red;
      margin-left: 15px;
    }

    i.dots {
      color: rgb(243, 148, 7);
      margin-left: 15px;
    }

    h4.commentAssunt1 {
      color: orange;
      margin-bottom: 0%;
      margin-top: 20px;
      margin-left: 15px;
    }

    p.commentAuthor1 {
      margin-left: 15px;
    }

    p.question {
      margin-left: 15px;
    }
    p.awsner1 {
      margin-left: 15px;
      margin-bottom: 20px;
      display: inline-block;
    }

    div.comment2 {
      text-align: left;
      border: 1px solid rgb(236,236,236);
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 15px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    }

    i.fa2 {
      color: red;
      margin-left: 15px;
    }

    i.dots2 {
      color: rgb(243, 148, 7);
      margin-left: 15px;
    }

    h4.commentAssunt2 {
      color: orange;
      margin-bottom: 0%;
      margin-top: 20px;
      margin-left: 15px;
    }

    p.commentAuthor2 {
      margin-left: 15px;
    }

    p.question2 {
      margin-left: 15px;
    }
    p.awsner2 {
      margin-left: 15px;
      margin-bottom: 20px;
      display: inline-block;
    }


  /* Em telas que tem menos de 700px , Menu aparecera no TOPO */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* Em telas que tem menos de 400px, mostrar menu na vertical, e não na horizontal */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }